CI_ENV=production

JORANI_VERSION=v1.0.4
APP_PORT=8080

MYSQL_HOST=mysql
MYSQL_USER=jorani
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=jorani
MYSQL_ROOT_PASSWORD=change-me-root

BASE_URL=http://localhost:8080/
ENC_KEY=change-this-to-a-long-random-application-key

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_PORT=587
SMTP_CRYPTO=tls

FROM_MAIL=no-reply@hayne.pl
FROM_NAME=HAYNE Leave
SUBJECT_PREFIX=[HAYNE Leave]

LANGUAGE=english
LANGUAGES=en
DEFAULT_TIMEZONE=Europe/Warsaw

LOG_THRESHOLD=2
LOG_PATH=php://stdout
DEBUGBAR_ENABLED=FALSE
DEBUGBAR_RENDER_IN_FOOTER=FALSE

LDAP_ENABLED=FALSE
SAML_ENABLED=FALSE
API_ENABLED=TRUE

DISABLE_OVERTIME=FALSE
HIDE_GLOBAL_CALS_TO_USERS=FALSE
DISABLE_DEPARTMENT_CALENDAR=FALSE
DISABLE_WORKMATES_CALENDAR=FALSE
REQUESTS_BY_MANAGER=TRUE
DISALLOW_REQUESTS_WITHOUT_CREDIT=TRUE
ENABLE_HISTORY=TRUE
